extends ../template

block variables
    - var title = "Main page"
    - var desciption = "This is the main page of my website"
    - var og_url = "http://example.com/"
    - var og_image = "./i/share_pic.png"

block content
    p Hello, World!